:root {
  --greysblue-grey300: rgba(249, 250, 251, 1);
  --primarydark-shade: rgba(5, 0, 78, 1);
  --greysblue-grey700: rgba(115, 119, 145, 1);
  --dark1-dark: rgba(32, 32, 32, 1);
  --dark3-dark: rgba(137, 137, 137, 1);
  --primary-800: rgba(64, 121, 237, 1);
  --greysblue-grey900: rgba(21, 29, 72, 1);
  --shapecard: rgba(255, 255, 255, 1);
  --brand-color1-primary: rgba(119, 93, 166, 1);
  --additional-color1-additional: rgba(255, 177, 183, 1);
  --brand-color1-secondary: rgba(112, 182, 193, 1);
  --colorwhite: rgba(255, 255, 255, 1);
  --h1-font-family: "Inter", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 24px;
  --h1-letter-spacing: -0.72px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h2-font-family: "Inter", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 18px;
  --h2-letter-spacing: -0.54px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --content-font-family: "Inter", Helvetica;
  --content-font-weight: 500;
  --content-font-size: 12px;
  --content-letter-spacing: -0.36px;
  --content-line-height: normal;
  --content-font-style: normal;
  --text-font-family: "Inter", Helvetica;
  --text-font-weight: 500;
  --text-font-size: 14px;
  --text-letter-spacing: -0.42px;
  --text-line-height: normal;
  --text-font-style: normal;
  --www-lemonade-vn-inter-regular-font-family: "Inter", Helvetica;
  --www-lemonade-vn-inter-regular-font-weight: 400;
  --www-lemonade-vn-inter-regular-font-size: 11.399999618530273px;
  --www-lemonade-vn-inter-regular-letter-spacing: 0px;
  --www-lemonade-vn-inter-regular-line-height: 14.399999618530273px;
  --www-lemonade-vn-inter-regular-font-style: normal;
  --www-lemonade-vn-inter-regular-strikethrough-font-family: "Inter", Helvetica;
  --www-lemonade-vn-inter-regular-strikethrough-font-weight: 400;
  --www-lemonade-vn-inter-regular-strikethrough-font-size: 11.800000190734863px;
  --www-lemonade-vn-inter-regular-strikethrough-letter-spacing: 0px;
  --www-lemonade-vn-inter-regular-strikethrough-line-height: 12px;
  --www-lemonade-vn-inter-regular-strikethrough-font-style: normal;
  --www-lemonade-vn-inter-regular-underline-font-family: "Inter", Helvetica;
  --www-lemonade-vn-inter-regular-underline-font-weight: 400;
  --www-lemonade-vn-inter-regular-underline-font-size: 11.600000381469727px;
  --www-lemonade-vn-inter-regular-underline-letter-spacing: 0px;
  --www-lemonade-vn-inter-regular-underline-line-height: 18px;
  --www-lemonade-vn-inter-regular-underline-font-style: normal;
  --www-lemonade-vn-inter-regular-upper-font-family: "Inter", Helvetica;
  --www-lemonade-vn-inter-regular-upper-font-weight: 400;
  --www-lemonade-vn-inter-regular-upper-font-size: 15px;
  --www-lemonade-vn-inter-regular-upper-letter-spacing: 0px;
  --www-lemonade-vn-inter-regular-upper-line-height: 22.5px;
  --www-lemonade-vn-inter-regular-upper-font-style: normal;
  --www-lemonade-vn-semantic-heading-2-font-family: "Inter", Helvetica;
  --www-lemonade-vn-semantic-heading-2-font-weight: 400;
  --www-lemonade-vn-semantic-heading-2-font-size: 59.79999923706055px;
  --www-lemonade-vn-semantic-heading-2-letter-spacing: 0px;
  --www-lemonade-vn-semantic-heading-2-line-height: 72px;
  --www-lemonade-vn-semantic-heading-2-font-style: normal;
  --www-lemonade-vn-semantic-heading-3-font-family: "Inter", Helvetica;
  --www-lemonade-vn-semantic-heading-3-font-weight: 400;
  --www-lemonade-vn-semantic-heading-3-font-size: 18px;
  --www-lemonade-vn-semantic-heading-3-letter-spacing: 2px;
  --www-lemonade-vn-semantic-heading-3-line-height: 21.600000381469727px;
  --www-lemonade-vn-semantic-heading-3-font-style: normal;
  --www-lemonade-vn-semantic-heading-4-upper-font-family: "Inter", Helvetica;
  --www-lemonade-vn-semantic-heading-4-upper-font-weight: 400;
  --www-lemonade-vn-semantic-heading-4-upper-font-size: 15px;
  --www-lemonade-vn-semantic-heading-4-upper-letter-spacing: 0px;
  --www-lemonade-vn-semantic-heading-4-upper-line-height: 18px;
  --www-lemonade-vn-semantic-heading-4-upper-font-style: normal;
  --www-lemonade-vn-semantic-link-font-family: "Inter", Helvetica;
  --www-lemonade-vn-semantic-link-font-weight: 400;
  --www-lemonade-vn-semantic-link-font-size: 14.899999618530273px;
  --www-lemonade-vn-semantic-link-letter-spacing: 0px;
  --www-lemonade-vn-semantic-link-line-height: 40px;
  --www-lemonade-vn-semantic-link-font-style: normal;
  --www-lemonade-vn-semantic-link-upper-font-family: "Inter", Helvetica;
  --www-lemonade-vn-semantic-link-upper-font-weight: 400;
  --www-lemonade-vn-semantic-link-upper-font-size: 16.5px;
  --www-lemonade-vn-semantic-link-upper-letter-spacing: 0px;
  --www-lemonade-vn-semantic-link-upper-line-height: 19.799999237060547px;
  --www-lemonade-vn-semantic-link-upper-font-style: normal;
  --apple-com-arial-bold-font-family: "Arial", Helvetica;
  --apple-com-arial-bold-font-weight: 700;
  --apple-com-arial-bold-font-size: 20.299999237060547px;
  --apple-com-arial-bold-letter-spacing: 0.23100000619888306px;
  --apple-com-arial-bold-line-height: 25px;
  --apple-com-arial-bold-font-style: normal;
  --apple-com-arial-narrow-font-family: "Arial", Helvetica;
  --apple-com-arial-narrow-font-weight: 400;
  --apple-com-arial-narrow-font-size: 28px;
  --apple-com-arial-narrow-letter-spacing: 0.19599999487400055px;
  --apple-com-arial-narrow-line-height: 32px;
  --apple-com-arial-narrow-font-style: normal;
  --apple-com-segoe-UI-regular-font-family: "Segoe UI", Helvetica;
  --apple-com-segoe-UI-regular-font-weight: 400;
  --apple-com-segoe-UI-regular-font-size: 12px;
  --apple-com-segoe-UI-regular-letter-spacing: -0.11999999731779099px;
  --apple-com-segoe-UI-regular-line-height: 16px;
  --apple-com-segoe-UI-regular-font-style: normal;
  --apple-com-segoe-UI-regular-underline-font-family: "Segoe UI", Helvetica;
  --apple-com-segoe-UI-regular-underline-font-weight: 400;
  --apple-com-segoe-UI-regular-underline-font-size: 12px;
  --apple-com-segoe-UI-regular-underline-letter-spacing: -0.11999999731779099px;
  --apple-com-segoe-UI-regular-underline-line-height: 16px;
  --apple-com-segoe-UI-regular-underline-font-style: normal;
  --apple-com-segoe-UI-semibold-font-family: "Segoe UI", Helvetica;
  --apple-com-segoe-UI-semibold-font-weight: 400;
  --apple-com-segoe-UI-semibold-font-size: 14px;
  --apple-com-segoe-UI-semibold-letter-spacing: -0.2240000069141388px;
  --apple-com-segoe-UI-semibold-line-height: 18px;
  --apple-com-segoe-UI-semibold-font-style: normal;
  --xl-semibold-font-family: "Poppins", Helvetica;
  --xl-semibold-font-weight: 600;
  --xl-semibold-font-size: 20px;
  --xl-semibold-letter-spacing: 0px;
  --xl-semibold-line-height: 32px;
  --xl-semibold-font-style: normal;
  --base-regular-font-family: "Poppins", Helvetica;
  --base-regular-font-weight: 400;
  --base-regular-font-size: 16px;
  --base-regular-letter-spacing: 0px;
  --base-regular-line-height: 30px;
  --base-regular-font-style: normal;
  --headline-h5-regular-font-family: "Inter", Helvetica;
  --headline-h5-regular-font-weight: 400;
  --headline-h5-regular-font-size: 14px;
  --headline-h5-regular-letter-spacing: 0px;
  --headline-h5-regular-line-height: normal;
  --headline-h5-regular-font-style: normal;
  --headline-h2-font-family: "Inter", Helvetica;
  --headline-h2-font-weight: 600;
  --headline-h2-font-size: 24px;
  --headline-h2-letter-spacing: 0px;
  --headline-h2-line-height: normal;
  --headline-h2-font-style: normal;
  --xs-medium-font-family: "Poppins", Helvetica;
  --xs-medium-font-weight: 500;
  --xs-medium-font-size: 12px;
  --xs-medium-letter-spacing: 0px;
  --xs-medium-line-height: 16px;
  --xs-medium-font-style: normal;
  --base-medium-font-family: "Poppins", Helvetica;
  --base-medium-font-weight: 500;
  --base-medium-font-size: 16px;
  --base-medium-letter-spacing: 0px;
  --base-medium-line-height: 24px;
  --base-medium-font-style: normal;
  --2xl-semibold-font-family: "Poppins", Helvetica;
  --2xl-semibold-font-weight: 600;
  --2xl-semibold-font-size: 24px;
  --2xl-semibold-letter-spacing: 0px;
  --2xl-semibold-line-height: 32px;
  --2xl-semibold-font-style: normal;
  --sm-medium-font-family: "Poppins", Helvetica;
  --sm-medium-font-weight: 500;
  --sm-medium-font-size: 14px;
  --sm-medium-letter-spacing: 0px;
  --sm-medium-line-height: 20px;
  --sm-medium-font-style: normal;
  --text-text-regular-1-font-family: "Poppins", Helvetica;
  --text-text-regular-1-font-weight: 400;
  --text-text-regular-1-font-size: 18px;
  --text-text-regular-1-letter-spacing: 0px;
  --text-text-regular-1-line-height: normal;
  --text-text-regular-1-font-style: normal;
  --shadow-1-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
}
